### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
*.iml

### Kotlin ###
.kotlin

### Android/Gradle ###
.gradle/
build/
**/build/
local.properties
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
output-metadata.json

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Python
*.py
__pycache__/

# Windows
Thumbs.db
desktop.ini

# Temp files
*.log
*.tmp
*.swp
*~
